<com.confusionists.mjdj.settings.Settings>
  <receivers>
    <entry>
      <string>nerds.de - Port 2</string>
      <boolean>false</boolean>
    </entry>
    <entry>
      <string>nerds.de - Port 1</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>Apple Computer, Inc. - mjdj2vthang</string>
      <boolean>false</boolean>
    </entry>
    <entry>
      <string>Apple Computer, Inc. - IAC Driver - mjdj2vthang</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>iPad Server OUT</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>Apple Computer, Inc. - IAC Driver - mjdj2live</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>nerds.de - ipMIDI - Port 1</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>MOTU - MIDI Port</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>Apple Computer, Inc. - live2mjdj</string>
      <boolean>false</boolean>
    </entry>
    <entry>
      <string>Apple Computer, Inc. - mjdj2live</string>
      <boolean>false</boolean>
    </entry>
    <entry>
      <string>BEHRINGER - Port 3</string>
      <boolean>false</boolean>
    </entry>
    <entry>
      <string>Apple Computer, Inc. - vthang2mjdj</string>
      <boolean>false</boolean>
    </entry>
    <entry>
      <string>BEHRINGER - Port 2</string>
      <boolean>false</boolean>
    </entry>
    <entry>
      <string>Apple Computer, Inc. - IAC Driver - vthang2mjdj</string>
      <boolean>false</boolean>
    </entry>
    <entry>
      <string>MOTU - 828mk2 #2 - MIDI Port</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>nerds.de - Port 4</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>nerds.de - Port 3</string>
      <boolean>true</boolean>
    </entry>
  </receivers>
  <transmitters>
    <entry>
      <string>Apple Computer, Inc. - mjdj2live</string>
      <boolean>false</boolean>
    </entry>
    <entry>
      <string>KORG INC. - SLIDER/KNOB</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>nerds.de - Port 4</string>
      <boolean>false</boolean>
    </entry>
    <entry>
      <string>BEHRINGER - Port 2</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>BEHRINGER - Port 1</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>nerds.de - Port 2</string>
      <boolean>false</boolean>
    </entry>
    <entry>
      <string>Apple Computer, Inc. - IAC Driver - vthang2mjdj</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>Apple Computer, Inc. - live2mjdj</string>
      <boolean>false</boolean>
    </entry>
    <entry>
      <string>KORG INC. - KEYBOARD</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>IPad Server In</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>RME - Port 1</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>Internal-only Clock - 120bpm</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>Apple Computer, Inc. - vthang2mjdj</string>
      <boolean>false</boolean>
    </entry>
    <entry>
      <string>Internal Clock</string>
      <boolean>false</boolean>
    </entry>
    <entry>
      <string>BEHRINGER - BCR2000 - Port 2</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>Internal Clock (@120bpm)</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>Internal Clock (@120bpm, internal only)</string>
      <boolean>true</boolean>
    </entry>
    <entry>
      <string>Internal Clock (@125bpm)</string>
      <boolean>true</boolean>
    </entry>
  </transmitters>
  <morphAdaptors>
    <entry>
      <string>One-bar Delay</string>
      <com.confusionists.mjdj.settings.MorphAdaptor>
        <active>false</active>
        <orderNumber>4</orderNumber>
        <dead>false</dead>
      </com.confusionists.mjdj.settings.MorphAdaptor>
    </entry>
    <entry>
      <string>One-beat sustain v. 1.1</string>
      <com.confusionists.mjdj.settings.MorphAdaptor>
        <active>false</active>
        <orderNumber>6</orderNumber>
        <dead>false</dead>
      </com.confusionists.mjdj.settings.MorphAdaptor>
    </entry>
    <entry>
      <string>Robot 0.1h</string>
      <com.confusionists.mjdj.settings.MorphAdaptor>
        <active>true</active>
        <orderNumber>0</orderNumber>
        <dead>false</dead>
      </com.confusionists.mjdj.settings.MorphAdaptor>
    </entry>
    <entry>
      <string>Robot 0.1g</string>
      <com.confusionists.mjdj.settings.MorphAdaptor>
        <active>false</active>
        <orderNumber>3</orderNumber>
        <dead>false</dead>
      </com.confusionists.mjdj.settings.MorphAdaptor>
    </entry>
    <entry>
      <string>Mike&apos;s MIDI Listener</string>
      <com.confusionists.mjdj.settings.MorphAdaptor>
        <active>false</active>
        <orderNumber>0</orderNumber>
        <dead>false</dead>
      </com.confusionists.mjdj.settings.MorphAdaptor>
    </entry>
    <entry>
      <string>M13 Sync</string>
      <com.confusionists.mjdj.settings.MorphAdaptor>
        <active>false</active>
        <orderNumber>2</orderNumber>
        <dead>false</dead>
      </com.confusionists.mjdj.settings.MorphAdaptor>
    </entry>
    <entry>
      <string>Null-Connection (Right-Click to Open)</string>
      <com.confusionists.mjdj.settings.MorphAdaptor>
        <active>true</active>
        <orderNumber>7</orderNumber>
        <dead>false</dead>
        <serializablePiece class="list">
          <hashtable>
            <entry>
              <string>in</string>
              <string>All Active</string>
            </entry>
            <entry>
              <string>out</string>
              <string>nerds.de - Port 1</string>
            </entry>
          </hashtable>
          <hashtable>
            <entry>
              <string>in</string>
              <string>Blah 5</string>
            </entry>
            <entry>
              <string>out</string>
              <string>All Active</string>
            </entry>
          </hashtable>
          <hashtable>
            <entry>
              <string>in</string>
              <string>Apple Computer, Inc. - vthang2mjdj</string>
            </entry>
            <entry>
              <string>out</string>
              <string>iPad Server OUT</string>
            </entry>
          </hashtable>
          <hashtable>
            <entry>
              <string>in</string>
              <string>IPad Server In</string>
            </entry>
            <entry>
              <string>out</string>
              <string>Apple Computer, Inc. - mjdj2vthang</string>
            </entry>
          </hashtable>
          <hashtable>
            <entry>
              <string>in</string>
              <string>RME - Port 1</string>
            </entry>
            <entry>
              <string>out</string>
              <string>iPad Server OUT</string>
            </entry>
          </hashtable>
        </serializablePiece>
      </com.confusionists.mjdj.settings.MorphAdaptor>
    </entry>
    <entry>
      <string>Kaoss 0.0.1</string>
      <com.confusionists.mjdj.settings.MorphAdaptor>
        <active>false</active>
        <orderNumber>1</orderNumber>
        <dead>false</dead>
      </com.confusionists.mjdj.settings.MorphAdaptor>
    </entry>
    <entry>
      <string>Sixteenth-Note Delay</string>
      <com.confusionists.mjdj.settings.MorphAdaptor>
        <active>false</active>
        <orderNumber>5</orderNumber>
        <dead>false</dead>
      </com.confusionists.mjdj.settings.MorphAdaptor>
    </entry>
    <entry>
      <string>Sending MIDI Commands (for configuration)</string>
      <com.confusionists.mjdj.settings.MorphAdaptor>
        <active>false</active>
        <orderNumber>0</orderNumber>
        <dead>false</dead>
        <serializablePiece class="string-array">
          <string>0</string>
          <string>39</string>
          <string>127</string>
        </serializablePiece>
      </com.confusionists.mjdj.settings.MorphAdaptor>
    </entry>
  </morphAdaptors>
  <clockSourceCombo>nerds.de - Port 2</clockSourceCombo>
  <doNotUseComSunDrivers>false</doNotUseComSunDrivers>
</com.confusionists.mjdj.settings.Settings>